// Styling for the contact section
.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid $white;
  input,
  textarea {
    $map: (320px: 16px, 481px: 18px, 769px: 21px, 1025px: 25px, 1201px: 30px);
    @include poly-fluid-sizing("font-size", $map);
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    color: $white;   
  }
  input::placeholder,
  textarea::placeholder {
    color: $secondary;
    font-weight: bold; 
  }
  #get_file {
    background-color: transparent;
    border: none;
    padding: 0 !important;
    font-weight: 700;
    $map: (320px: 16px, 481px: 18px, 769px: 21px, 1025px: 25px, 1201px: 30px);
    @include poly-fluid-sizing("font-size", $map);
  }
  input[type="file"] {
    display: none;
  }
  ul#file_list {
    list-style: none;
    padding-left: 0;
    li::before { 
      content: "\2022";
      color: $secondary;
      font-weight: bolder;
      padding-left: 1.14rem;
      padding-right: 0.8rem;
    }  
    li {
      $map: (320px: 16px, 481px: 18px, 769px: 21px, 1025px: 25px, 1201px: 30px);
      @include poly-fluid-sizing("font-size", $map);
      // display: flex;
      // flex-flow: row wrap;
      p {
        margin-bottom: 0;
      }
      p:first-child {
        // flex: none;
        display: inline-block;
      }
      p:last-child {
        // flex: 1 0 100vw;
        padding-left: 2.6rem;
        padding-right: 2.5rem;
        //display: inline;
      }
      button.close {
        color: $white;
        font-size: 2rem;
        margin-top: -.2rem;
        opacity: .7;
        text-shadow: 0px 5px 0 $secondary;
      }
    }
  }
  .total {
    $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
    @include poly-fluid-sizing("font-size", $map);
  }
  input:focus, textarea:focus {
    background-color: rgba(255, 255, 255, 0.219);
    color: $secondary;
  }
  label {
    $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
    @include poly-fluid-sizing("font-size", $map);
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid $white;
  }
  .text-danger {
    color: #ffc107 !important;
  }
}
@media (min-width:576px) {
  ul#file_list {
    li {
      p:last-child {
        // flex: 1 0 1vw !important;
        // padding-left: 0 !important;
      }
    }
  }
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
    color: $secondary;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: $secondary;
  }
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid $gray-200;
}

#sendMessageButton:disabled {
  background-color: $white;
  border-color: $white;
}
