.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $primary;
  color: $secondary;
  h4 {
    $map: (320px: 22px, 481px: 27px, 769px: 32px, 1025px: 37px, 1201px: 42px);
    @include poly-fluid-sizing("font-size", $map);
  }
  h4:nth-child(2) {
    @include body-font;
  }
}

.copyright {
  background-color: $secondary;
  color: $white;
}
