.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: $secondary;
  h4 {
    @include poly-fluid-sizing("font-size", $bodyFont);
  }
  h4:nth-child(2) {
    @include body-font;
  }
}

.copyright {
  background-color: $secondary;
  color: $white;
}
