.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $primary;
  color: $secondary;
  h4 {
    $map: (280:16, 576: 18, 768: 19, 992: 20, 1200: 21);
    font-size: least-squares-fit($map);
  }
  h4:nth-child(2) {
    @include body-font;
  }
}

.copyright {
  background-color: $secondary;
  color: $white;
}
