header.masthead {
  padding-top: calc(6rem + 56px);
  padding-bottom: 6rem;
  h1:nth-child(2) {
    $map: (320px: 40px, 481px: 50px, 769px: 60px, 1025px: 70px, 1201px: 80px);
    @include poly-fluid-sizing("font-size", $map);
    line-height: 1;
  }
  h1:nth-child(3) {
    $map: (320px: 20px, 481px: 25px, 769px: 30px, 1025px: 35px, 1201px: 40px);
    @include poly-fluid-sizing("font-size", $map);
  } 
  h2:last-child {
    @include heading-font;
    $map: (320px: 22px, 481px: 27px, 769px: 32px, 1025px: 37px, 1201px: 42px);
    @include poly-fluid-sizing("font-size", $map);
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
}
