section.masthead {
  padding-top: calc(5rem + 56px);
  padding-bottom: 5rem;

  h1:nth-child(2) {
    @include poly-fluid-sizing("font-size", $headerFont);
    line-height: 1;
  }
  h1:nth-child(3) {
    @include poly-fluid-sizing("font-size", $secondHeaderFont);
  } 
  h2 {
    @include heading-font;
    @include poly-fluid-sizing("font-size", $mastheadH2Font);

    span {
      color: $white;
    } 
  }
}

@media(min-width:599px) {
  section.masthead {
    .img-fluid {
      max-width: 50%;
    }
  }
}

@media (min-width: 992px) {
  section.masthead {
    padding-top: calc(5rem + 106px);
    padding-bottom: 5rem;
  }
}
