// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include heading-font;

  .navbar-brand {
    color: $white;
    font-style: normal;
    $map: (320px: 72px, 481px: 82px, 769px: 92px, 1025px: 102px, 1201px: 112px);
    @include poly-fluid-sizing("height", $map);
    @include poly-fluid-sizing("width", $map);
    border: 0.1em solid $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    div {
      width: 100%;
      flex: 1 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      p {
        $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
        @include poly-fluid-sizing("font-size", $map);
        flex: 1 0 auto;
        margin: 0;
        text-align: center;
      }
    }
  }

  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;

    li.nav-item {
      a.nav-link {
        color: $white;
        font-style: normal;
        $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
        @include poly-fluid-sizing("font-size", $map);
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  
  .navbar-toggler {
    $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
    @include poly-fluid-sizing("font-size", $map);
    padding: 0.5rem;
  }
}

@media(min-width:481px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;

    .container {
      flex-wrap: nowrap;
      align-items: flex-start;

      button {
        display: none;
      }
      
      .navbar-collapse {
        display: flex;
        flex-basis: 0;
        justify-content: center;
  
        .navbar-nav {
          margin-top: 0;
          flex-wrap: wrap;
          justify-content: flex-end;
          flex-direction: row;
          text-align: center;
  
          li.nav-item {
            flex: 1 0 30%;
          }
        }
      }
    }
    
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media(min-width:768px) and (max-width:991px) {
  #mainNav {
    .container {
      width: 70%;
    }
  }
}

@media(min-width:992px) and (max-width:1199px) {
  #mainNav {
    .container {
      width: 65%;
    }
  }
}

@media(min-width:1200px) {
  #mainNav {
    .container {
      width: 60%;
    }
  }
}
