// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include heading-font;

  .navbar-brand {
    color: $white;
    font-style: normal;
    $map: (320px: 50px, 481px: 60px, 769px: 70px, 1025px: 80px, 1201px: 90px);
    @include poly-fluid-sizing("height", $map);
    @include poly-fluid-sizing("width", $map);
    border: 0.1em solid $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    div {
      width: 100%;
      flex: 1 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      p {
        $map: (320px: 10px, 481px: 12px, 769px: 14px, 1025px: 16px, 1201px: 18px);
        @include poly-fluid-sizing("font-size", $map);
        flex: 1 0 auto;
        margin: 0;
        text-align: center;
      }
    }
  }

  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;

    li.nav-item {
      a.nav-link {
        color: $white;
        font-style: normal;
        @include poly-fluid-sizing("font-size", $buttonFont);
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  
  .navbar-toggler {
    @include poly-fluid-sizing("font-size", $buttonFont);
    padding: 0.5rem;
  }
}

@media(min-width:481px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;

    .container {
      flex-wrap: nowrap;
      $map: (481px: 427px, 576px: 523px, 768px: 551px, 991px: 601px, 1200px: 681px, 1500px: 760px);
      @include poly-fluid-sizing("width", $map);
      
      button {
        display: none;
      }

      .navbar-brand {
        flex: 1 0 auto;
      }

      .navbar-collapse {
        flex: 1 1 auto;
        display: flex;

        .navbar-nav {
          flex: 1 0 100%;
          margin-top: 0;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: row;
          text-align: center;
  
          li.nav-item {
            flex: 1 0 31%;
          }
        }
      }
    }
    
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
