// Styling for the portfolio section
.portfolio {
  margin-bottom: -15px;
  .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
    .portfolio-item-caption {
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background-color: fade-out($primary, .1);
      &:hover {
        opacity: 1;
      }
      .portfolio-item-caption-content {
        font-size: 1.5rem;
      }
    }
  }
  @media (min-width: 576px) {
    margin-bottom: -30px;
    .portfolio-item {
      margin-bottom: 30px;
    }
  }
}

.portfolio-modal {
  background: linear-gradient(90deg,#000 0, #950303 5%, #bb0404 22.5%, #ce0505 40%, #ce0505 60%, #bb0404 77.5%, #950303 95%, #000 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    -webkit-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    .close-button {
      position: absolute;
      top: 2rem;
      right: 2rem;
      i {
        line-height: 38px;
      }
    }
    h2 {
      $map: (320px: 40px, 481px: 50px, 769px: 60px, 1025px: 70px, 1201px: 80px);
      @include poly-fluid-sizing("font-size", $map);
    }
    p {
      $map: (320px: 16px, 481px: 18px, 769px: 21px, 1025px: 25px, 1201px: 30px);
      @include poly-fluid-sizing("font-size", $map);
      a {
        color: $secondary;
        font-style: italic;
        font-weight: 900;
        &:focus,
        &:hover,
        &:active {
          color: darken($primary, 10%);
          text-decoration-color: $white;
        }
      }
    }
    h5 {
      $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
      @include poly-fluid-sizing("font-size", $map);
    }
    .rounded-pill {
      border-radius: .25rem !important;
      $map: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px);
      @include poly-fluid-sizing("font-size", $map);
      font-style: normal;
    }
  }
  @media(min-width: 768px) {
    .portfolio-modal-dialog {
      min-height: 100vh;
      padding: 5rem;
      margin: 3rem calc(3rem - 8px);
    }
  }
}

@media (min-width: 1340px) {
  .portfolio-modal {
    background: linear-gradient(90deg,#000 0,#950303 10%,#bb0404 25%,#ce0505 45%,#ce0505 55%,#bb0404 75%,#950303 90%,#000 100%);
  }  
}

@media (min-width: 1600px) {
  .portfolio-modal {
    background: linear-gradient(90deg,#000 0,#950303 20%,#bb0404 35%,#ce0505 50%,#bb0404 65%,#950303 80%,#000 100%);
  }
}

