// Styling for quote section
$transitionSpeed: 800ms;

#quote {
  min-height: calc(100vh - 4.5rem);
  $map: (320px: 184px, 481px: 210px, 576px: 214px, 768px: 220px, 991px: 229px, 1200px: 240px, 1500px: 240px);
  @include poly-fluid-sizing("padding-top", $map);

  div.control-group p.lead {
    font-weight: 700;
  }

  .radio {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1em;
    opacity: 1;
  }
  
  .radio__label {
    line-height: 1.2;
    opacity: 1;
  }
  
  .radio__input {
    display: flex;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
  
      & + .radio__control {
        display: block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 0.1em solid $white;
        transform: translateY(10%);
        content: "";
        transition: all ease-out $transitionSpeed;
      }

      & + .radio__control:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0.5em;
        border-bottom: .2em solid $secondary;
        border-left: .2em solid $secondary;
        top: 0.3em;
        left: 0.4em;
        transform-origin: bottom left;
        transform: rotate(-45deg);
        opacity: 0;
        transition: all ease-out $transitionSpeed;
      }

      & + .checkbox__border {
        border-radius: 0.3rem;
      }

      &:checked + .radio__control {
        border: .1em solid $secondary;
        opacity: 1;
      }

      &:checked + .radio__control:after {
        opacity: 1;
        width: 1.3em;
      }
    }
  }

  .mt-3.mx-5 input[type="text"], textarea:not([name="project_details"]) {
    @include poly-fluid-sizing("font-size", $bodyFont);
    padding-right: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
    color: $secondary; 

    &::placeholder {
      color: $secondary;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
    } 

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $white;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  textarea, #redesignForm textarea {
    resize: vertical;
    overflow: auto;
  }

  .form-group.controls.mb-0.border-top.border-bottom {
    display: flex; 
    align-items: center;

    #deleteInputButton {
      flex: 1 0 auto;
      @include poly-fluid-sizing("font-size", $bodyFont);
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  .text-danger {
    color: $danger !important;
  }
}