/* width */
*::-webkit-scrollbar {
	background: $secondary;
	width: 15px;
}
  
/* Track */
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: #bb0404; 
	border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: #950303; 
}

/* The emerging W3C standard that is currently Firefox-only */
* {
	scrollbar-width: thin;
	scrollbar-color: #bb0404 $secondary;
}