// Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #740303 !default;
$secondary: #000000 !default;
$third: #a60404 !default;
$danger: #ffc107 !default;

$bgEdge: $black !default;
$bgSecond: $primary !default;
$bgMiddle: $third !default;

$button: $third !default;
$inputBG: #faebd7 !default; // antique white

$headerFont: (320px: 35px, 481px: 45px, 769px: 55px, 1025px: 65px, 1201px: 75px) !default;
$bodyFont: (320px: 16px, 481px: 18px, 769px: 20px, 1025px: 21px, 1201px: 22px) !default;
$ulFont: (320px: 18px, 481px: 23px, 769px: 28px, 1025px: 33px, 1201px: 38px) !default;
$buttonFont: (320px: 14px, 481px: 16px, 769px: 18px, 1025px: 20px, 1201px: 22px) !default;
