// Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #740303 !default;
$secondary: #000000 !default;
$third: #a60404 !default;
$danger: #ffc107 !default;

$bgEdge: $black !default;
$bgSecond: $primary !default;
$bgMiddle: $third !default;

$button: $third !default;
$inputBG: #faebd7 !default; // antique white
